<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>302611588815-m26i628db67si3beleq6lhm6k85mpqc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302611588815-m26i628db67si3beleq6lhm6k85mpqc7</string>
	<key>API_KEY</key>
	<string>AIzaSyAbqhx1vNwf12MP420LeiqG54l1lQH8L4A</string>
	<key>GCM_SENDER_ID</key>
	<string>302611588815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.softco.uds</string>
	<key>PROJECT_ID</key>
	<string>ads-demo-5f318</string>
	<key>STORAGE_BUCKET</key>
	<string>ads-demo-5f318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302611588815:ios:8ae09bb0713f9c80</string>
	<key>DATABASE_URL</key>
	<string>https://ads-demo-5f318.firebaseio.com</string>
</dict>
</plist>