<!--
  Generated template for the SolicitudesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Solicitudes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div style="text-align: center" *ngIf="!solicitudes || solicitudes.length==0">
        <ion-icon style="font-size: 2em" name="notifications-off"></ion-icon>
        <p>No tienes solicitudes pendientes</p>
    </div>
    <ion-list>
      <ion-item *ngFor="let sol of solicitudes">
        <h2>{{sol.nombre}}</h2>
        <p>{{sol.descripcion}}</p>
        <h3>{{sol.validadora}}</h3>
        <span item-end><small>{{sol.fecha | date: 'dd/MM/yy'}}</small></span>
        <div item-end>
          <img [src]="'assets/icon/'+sol.estatus+'.png'">
        </div>
      </ion-item >
    </ion-list>
    <ion-fab right bottom>
      <button color="secondary" (click)="nuevaSolicitud($event)" ion-fab ><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
